page {
  background-color: $u-bg-color;
  font-size: 28rpx;
  height: 100%;
  min-height: 100%;
}

uni-page-body,
#app {
  height: 100%;
  color: var(--text-secondary) !important; 
  font-size: 26rpx !important;
  line-height: normal !important;
}

input {
  width: 100%;
  height: auto;
  line-height: normal;
}

input::placeholder {}

input:-webkit-autofill {
  background-color: transparent !important;
}
/* MindBond Vue - Global Styles */

.text-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.text-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}